.h2{
    margin-top: 40px;
    text-align: center;

}
.demo{
    background-color: rgb(121, 232, 53);
    margin:0%;
    height:200px;
    width:700px;
    color:white;
    font-size: 40px;
    text-align: center;
}
.dem{
    padding:75px;
}